<%- include('partials/header'); %>
<h1>About</h1>
<p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Repellendus possimus ullam, ea iure tenetur quaerat deleniti ipsam. Aut quam dolor dicta adipisci est vel eligendi provident maxime voluptate ad vitae sapiente, qui labore praesentium nemo! Animi eaque, amet eveniet iure, officia a minima maiores maxime numquam quis natus et dolorum temporibus. Ut natus doloremque officiis exercitationem cum. Molestiae, velit enim reiciendis, sed id ipsa ea mollitia doloribus corporis, ut autem blanditiis et commodi fugiat animi pariatur. Non iste ab repellendus inventore explicabo ea laboriosam ipsa nostrum eos quam voluptatibus animi possimus, iure et, vitae error similique quis incidunt provident impedit.</p>
<%- include('partials/footer'); %>